@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

h2 {
  color: $colorRed;
  // font-family: "Cormorant";
  font-family: "Old Standard TT";
  font-size: 1.5rem;
}

p {
  color: $colorBlue;
  font-size: 1.25rem;
}

.button {
  background-image: linear-gradient(to right, $colorRed, $colorBlue);
  display: inline-block;
  color: white;
  padding: 10px 15px;
  text-transform: uppercase;
  border-radius: 8px;
  .button-text {
    font-family: "Poppins";
    font-size: 1.5rem;
  }
}

/* Splash Screen */
.intro {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: $colorBlue;
  font-size: 2rem;
  font-family: "Poppins";
  transition-property: bottom, top, opacity;
  transition-duration: 1s;
  text-align: center;
  .text-header {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $colorRed;
    .text {
      position: relative;
      display: inline-block;
      bottom: -20px;
      opacity: 0;
      &.active {
        bottom: 0;
        opacity: 1;
        transition-property: bottom, top, opacity;
        transition-timing-function: ease-in-out;
        transition-duration: 0.5s;
      }
      &.fade {
        bottom: 150px;
        opacity: 0;
        transition-property: bottom, top, opacity;
        transition-timing-function: ease-in-out;
        transition-duration: 0.5s;
      }
    }
  }
}

header {
  position: relative;
  background-image: url(images/hero-image.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: right;
  font-family: "Montserrat";
  text-transform: uppercase;
  h1 {
    position: absolute;
    font-size: 2.5rem;
    color: white;
    width: 100%;
    text-align: center;
    bottom: 20%;
  }
  .button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
  }
}

section {
  padding: 0 40px;
  margin: 30px 0;
  &.color {
    background-image: linear-gradient(to right, $colorRed, $colorBlue);
    padding: 60px 40px;
    h2,
    h3,
    p {
      color: white;
    }
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin-bottom: 15px;
  }
  &#second {
    clip-path: polygon(0 4%, 100% 0, 100% 96%, 0 100%);
  }
  &#fourth {
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
    h3 {
      text-transform: uppercase;
    }
  }
  &#sixth {
    padding: 60px 40px;
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
  }
}

/* Embeded Video */
#iframe-container {
  // display: none;
  position: relative;
  overflow: hidden;
  height: 66vh;
  width: 80vw;
  margin: auto;
  iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

/* Slider */
.slider-container {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin: auto;
  .slider {
    display: flex;
    height: 100%;
    img {
      height: 100%;
      width: 300px;
    }
  }
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.5);
  }
  .leftArrow {
    left: 5px;
    color: rgba(195, 20, 50, 0.5);
    &:active {
      color: $colorRed;
    }
  }
  .rightArrow {
    right: 5px;
    color: rgba(36, 11, 54, 0.5);
    &:active {
      color: $colorBlue;
    }
  }
}

/* Footer */
footer {
  padding: 20px 0;
  text-align: center;
  h3 {
    font-size: 1rem;
    background: linear-gradient(to right, $colorRed 0%, $colorBlue 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
