* {
  margin: 0;
}

body {
  background-color: white;
  font-family: "EB Garamond";
  font-weight: normal;
  color: white;
  max-width: 500px;
}

p {
  font-size: 1.5rem;
}

header {
  background-image: linear-gradient(45deg, #c31432, #240b36);
  width: 100vw;
  height: 10vh;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  h1 {
    font-family: "Playfair Display";
    text-align: center;
    line-height: 8vh;
  }
}

main {
  #first {
    margin-top: 25px;
    color: #240b36;
    padding: 0 20px;
    p {
      color: #c31432;
    }
  }
}

/* Embeded Video */
#iframe-container {
  display: none;
  position: absolute;
  overflow: hidden;
  height: 66vh;
  width: 80vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // border: 1px solid blue;
}

iframe {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  // border: 1px solid red;
}
